@use postcss-cssnext;
/* helpers/align.css */

.align {
  margin-top: 200px;
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;

}

/* helpers/animation.css */

.animation {
  animation-duration: 10s;
  animation-fill-mode: both;
}

.animation--reverse {
  animation-direction: reverse;
}

/* helpers/animation-shake.css */

@keyframes shake-vertical {

  15%,
  45%,
  75% {
    transform: translateY(-0.75rem);
  }

  30%,
  60% {
    transform: translateY(0.75rem);
  }

}

.animation--shake--vertical {
  animation-name: shake-vertical;
  will-change: transform;
}

:root {
  --grid-max-width: 40rem;
  --grid-width: 90%;
  --grid-gutter: 3%;
}

.grid {
  margin-left: auto;
  margin-right: auto;
  max-width: var(--grid-max-width);
  width: var(--grid-width);
}

.grid__row {
  display: flex;
  flex-wrap: wrap;
  margin: calc(var(--grid-gutter) / -2);
}

.grid__col {
  margin: calc(var(--grid-gutter) / 2);
  flex-grow: 1;
}

/* layout/base.css */

:root {
  --html-font-size: 100%;

  --body-background-color: #f9f8f5;
  --body-color: rgb(173, 241, 255);
  --body-font-family: 'Roboto';
  --body-font-family-fallback: sans-serif;
  --body-font-size: 1rem;
  --body-font-weight: 400;
  --body-line-height: 1.5;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: var(--html-font-size);
  height: 100%;
}

body {
  background-color: var(--body-background-color);
  color: var(--body-color);
  font-family: var(--body-font-family), var(--body-font-family-fallback);
  font-size: var(--body-font-size);
  font-weight: var(--body-font-weight);
  line-height: var(--body-line-height);
  margin: 0;
 
  width: 100%;
  background-color: rgb(0, 30, 36);
}

/* modules/box.css */

:root {

  --box-background-color: rgb(0, 50, 59);
  --box-padding-horizontal: 2rem;
  --box-padding-vertical: 3rem;
}

.box {
  background-color: var(--box-background-color);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.3);
  font-size: 6.25rem;
  padding-bottom: var(--box-padding-vertical);
  padding-left: var(--box-padding-horizontal);
  padding-right: var(--box-padding-horizontal);
  padding-top: var(--box-padding-vertical);
  text-align: center;
}


/*dddddddddddddddddddddddddddddddddddddddddd*/

*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}




/* .button */

.button {

 
  font-size: 100px;
   border-style: none;
    overflow: hidden;
    text-decoration: none;
    
    outline: none;
    color: rgb(173, 241, 255);
    background: transparent;
    font-family: 'raleway', sans-serif;
   
}

img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100px;
}

img:hover {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

a:link {
  
  color: rgb(173, 241, 255);
  text-decoration: none;

}
a:active {
  color: blue;
}

a:hover {
  color: rgb(255, 128, 128);
}



.button span {
    -webkit-transition: 0.6s;
    -moz-transition: 0.6s;
    -o-transition: 0.6s;
    transition: 0.6s;
    -webkit-transition-delay: 0.2s;
    -moz-transition-delay: 0.2s;
    -o-transition-delay: 0.2s;
    transition-delay: 0.2s;
}

.button:before,
.button:after {
    content: '';
    position: absolute;
  
    left: 0;
    width: 100%;
    text-align: center;
    opacity: 0;
    -webkit-transition: .4s,opacity .6s;
    -moz-transition: .4s,opacity .6s;
    -o-transition: .4s,opacity .6s;
    transition: .4s,opacity .6s;
}

/* :before */

.button:before {
    content: attr(data-hover);
    -webkit-transform: translate(-150%,0);
    -moz-transform: translate(-150%,0);
    -ms-transform: translate(-150%,0);
    -o-transform: translate(-150%,0);
    transform: translate(-150%,0);
}

/* :after */

.button:after {
    content: attr(data-active);
    -webkit-transform: translate(150%,0);
    -moz-transform: translate(150%,0);
    -ms-transform: translate(150%,0);
    -o-transform: translate(150%,0);
    transform: translate(150%,0);
}

/* Span on :hover and :active */

.button:hover span,
.button:active span {
    opacity: 0;
    -webkit-transform: scale(0.3);
    -moz-transform: scale(0.3);
    -ms-transform: scale(0.3);
    -o-transform: scale(0.3);
    transform: scale(0.3);
}

/*  
    We show :before pseudo-element on :hover 
    and :after pseudo-element on :active 
*/

.button:hover:before,
.button:active:after {
    opacity: 1;
    -webkit-transform: translate(0,0);
    -moz-transform: translate(0,0);
    -ms-transform: translate(0,0);
    -o-transform: translate(0,0);
    transform: translate(0,0);
    -webkit-transition-delay: .4s;
    -moz-transition-delay: .4s;
    -o-transition-delay: .4s;
    transition-delay: .4s;
}

/* 
  We hide :before pseudo-element on :active
*/

.button:active:before {
    -webkit-transform: translate(-150%,0);
    -moz-transform: translate(-150%,0);
    -ms-transform: translate(-150%,0);
    -o-transform: translate(-150%,0);
    transform: translate(-150%,0);
    -webkit-transition-delay: 0s;
    -moz-transition-delay: 0s;
    -o-transition-delay: 0s;
    transition-delay: 0s;
}

